{% extends 'layouts/layout.html' %}

{% block title %}Agregar persona{% endblock %}

{% block content %}
<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ url_for('inicio') }}">Inicio</a></li>
    <li class="breadcrumb-item active" aria-current="page">Crear persona</li>
  </ol>
</nav>
<div class="card">
    <div class="card-header">
    Crear Persona
    </div>
    <form action="" method="post">
        <div class="card-body">

          {# Cross-Site Request Forgery (falsificación de petición en sitios cruzados) #}
          {{ form.csrf_token }}
          <div class="mb-3">
              {{ form.nombre.label(class='form-label') }}
              {{ form.nombre(size=30, class='form-control', placeholder='Nombre...', title='Escriba su nombre') }}
          </div>
          <div class="mb-3">
              {{ form.apellido.label(class='form-label') }}
              {{ form.apellido(size=30, class='form-control', placeholder='Apellido...', title='Escriba su apellido') }}
          </div>
          <div class="mb-3">
              {{ form.email.label(class='form-label') }}
              {{ form.email(size=30, class='form-control', placeholder='Email...', title='Escriba su email') }}
          </div>
        </div>
        <div class="card-footer text-body-secondary">
            {{ form.enviar(class='btn btn-success', title='Crear persona') }}
        </div>
    </form>
</div>
{% endblock %}