{% extends 'layouts/layout.html' %}
{% block title %}Personas{% endblock %}

{% block content %}
    <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active">Inicio</li>
      </ol>
    </nav>
    <div>
        <div class="float-start">
            {% if total_personas == 1 %}
            <p>Hay {{ total_personas }} persona</p>
            {% else %}
            <p>Hay {{ total_personas }} personas</p>
            {% endif %}
        </div>
        <div class="float-end">
            <a href="{{ url_for('crear') }}" class="btn btn-primary" title="Crear nuevo registro">
                <span class="bi bi-plus-circle-fill"></span> Agregar
            </a>
        </div>
    </div>

    <table class="table table-hover table-bordered">
        <thead class="table-warning">
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        {% for persona in page %}
            <tr>
                {# https://jinja.palletsprojects.com/en/3.0.x/templates/#builtin-filters #}
                <td>{{ persona.id }}</td>
                <td>{{ persona.nombre | title }}</td>
                <td>{{ persona.apellido | title }}</td>
                <td>{{ persona.email | lower }}</td>
                <td>
                    <a href="{{ url_for('ver', id=persona.id) }}" title="Detalle {{ persona.nombre }}"><span class="bi bi-eye-fill"></span></a>
                    <a href="{{ url_for('editar', id=persona.id) }}" title="Editar {{ persona.nombre }}"><span class="bi bi-pencil-fill"></span></a>
                    <a href="{{ url_for('eliminar', id=persona.id) }}" title="Eliminar {{ persona.nombre }}">
                        <span class="bi bi-trash-fill"></span>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}