{% extends 'layouts/layout.html' %}

{% block title %}Detalle {{ persona.nombre }}{% endblock %}

{% block content %}
<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ url_for('inicio') }}">Inicio</a></li>
    <li class="breadcrumb-item active" aria-current="page">Detalle {{ persona.nombre }}</li>
  </ol>
</nav>
<div class="card">
  <div class="card-header text-bg-primary">{{ persona.nombre }}</div>
  <div class="card-body">
    <table class="table table-hover">
        {# https://jinja.palletsprojects.com/en/3.0.x/templates/#builtin-filters #}
        <tr>
            <th>Id</th>
            <td>{{ persona.id }}</td>
        </tr>
        <tr>
            <th>Nombre</th>
            <td>{{ persona.nombre | title }}</td>
        </tr>
        <tr>
            <th>Apellido</th>
            <td>{{ persona.apellido | title }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ persona.email }}</td>
        </tr>
    </table>
  </div>
</div>
{% endblock %}